#!/bin/bash

mode=

if [ "$2" == "--test" ];
then
	mode=echo
	modelog="/dev/stdout"
fi

function config.include() {
    for include in $@
    do
        . $bindir/vm.$include
    done
}

function config.init() {
	start="$(date +%s)"

	vmdir=${vmdir:-'/var/lxc'}

	if [ ! -d $vmdir ];
	then
		echo "ERROR: No $vmdir directory: exiting"
		exit 1
	fi
		
	confdir=${confdir:-"$vmdir/.config"}
	logdir=${logdir:-"$vmdir/.logs"}
	mkdir -p $confdir
	mkdir -p $logdir

	passwordcmd=${passwordcmd:-"makepasswd -chars 15"}
}

function config.initHost() {
	local hostname=$1

	if [ "$hostname" == "" ];
	then
		echo "ERROR: No host specified: exiting"
		exit 1
	fi

	hostconf="$confdir/$hostname.conf"
	hostlog="$logdir/$hostname.log"
	hostdir="$vmdir/$hostname"
}

