#!/bin/bash

function configure() {
	local __timevar=$1
	local localtime="$(date +%s)"

	root=${root:-'/var/lxc'}

	if [ ! -d $root ];
	then
		echo "ERROR: No $root directory: exiting"
		exit 1
	fi
		
	config=${config:-"$root/.config"}
	logdir=${logdir:-"$root/.logs"}
	mkdir -p $config
	mkdir -p $logdir

	createcmd=${createcmd:-"$root/.gentoo/lxc-gentoo"}
	passwordcmd=${passwordcmd:-"makepasswd -chars 15"}

	eval $__timevar="'$localtime'"
}

function configureHost() {
	local hostname=$1
	if [ "$hostname" == "" ];
	then
		echo "ERROR: No host specified: exiting"
		exit 1
	fi

	hostconf="$config/${hostname}.conf"
	hostlog="$logdir/$hostname.log"
	hostdir="$root/$hostname"

	startcmd="lxc-start -d -o $hostlog -l DEBUG -n $hostname -f $hostconf"
	stopcmd="lxc-stop -n $hostname"
}

