#!/bin/bash

mode=

if [ "$2" == "--test" ];
then
	mode=echo
	modelog="/dev/stdout"
fi

function config.include() {
    for include in $@
    do
        . $bindir/vm.$include
    done
}

function config.init() {
	start="$(date +%s)"

	root=${root:-'/var/lxc'}

	if [ ! -d $root ];
	then
		echo "ERROR: No $root directory: exiting"
		exit 1
	fi
		
	config=${config:-"$root/.config"}
	logdir=${logdir:-"$root/.logs"}
	mkdir -p $config
	mkdir -p $logdir

	passwordcmd=${passwordcmd:-"makepasswd -chars 15"}
}

function config.initHost() {
	local hostname=$1

	if [ "$hostname" == "" ];
	then
		echo "ERROR: No host specified: exiting"
		exit 1
	fi

	hostconf="$config/${hostname}.conf"
	hostlog="$logdir/$hostname.log"
	hostdir="$root/$hostname"

	stopcmd="lxc-stop -n $hostname"
}

